* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    cursor: url(cursor.png);
}

.body{
    background-color: #f1f7a8;
}

:root {
    --nev-height: 50px;
}

#nev {
    display: flex;
    align-items: center;
    /* position: relative; */
}

#nev::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 15%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

#logo {
    margin: 5px 36px;
}

#logo img {
    height: 45px;
    height: 90px;
    width: 90px;
    position:absolute;
    margin: 15px 17px;
    
}


#nev ul {
    display: flex;
}

#nev ul li {
    list-style: none;
    font-size: 18px;
}

#nev ul li a {
    display: block;
    padding: 8px 20px;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    transition: all 1s ease-in-out;
    color: black;
    font-size: bold;
    box-shadow: 0 0 20px #195e53;
    border-radius: 4px;
}
#nev ul li a:hover,
#nev ul li a:active {
    color:#195e53(255, 253, 253);
    background-color: cadetblue;
    background-image:linear-gradient( to right, #ebebeb 0%, #4d7d75 51%, #52dec7 100% );
    transform: scale(.9);
}

.home {
    display: flex;
    flex-direction: column;
    padding: 3px 170px;
    justify-content: center;
    align-items: center;
    color:black;
}

.home::before {
    content: "";
    position: absolute;
    background: url(pizza.gif)no-repeat center center/cover;
    height: 65%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}

.img{  
    background: url(il_340x270.2760884882_8out.webp)no-repeat center center/cover;
    height: 25%;
    width: 60%;
    z-index: -1;
    opacity: 0.95;
    color:#ffffff;
}


#wel {
    display: flex;
    animation-name: wel;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    font-size: 40px;
    padding: 24px;
    justify-content: center;
    align-content: center;
}

@keyframes wel {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.45)
    }
}

.home p {
    text-align: center;
    font-size: bold;
}

#btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(99, 73, 73);
    margin: 17px;
    font-size: 1.1rem;
    bottom: 10px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
#btn {
    background-image: linear-gradient(to left, #6e1f55 5%, #db46ac 51%, #f2a468 100% );
}

#btn:hover {
    cursor: pointer;
    transform: scale(.9);
}

#serv {
    display: flex;
    margin: 35px;


}

#serv .box {
    border: 2px solid brown;
    margin: 23px 23px;
    padding: 20px 23px;
    border-radius: 10px;

}

#serv .box img {
    height: 150px;
    margin: auto;
    display:flex;
}

.ser1 {
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}

.ser2{
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}
.ser3{
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}
.center {
    text-align: center;
}

.clients {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 34px;
}

.center1{
    font-size: 20px;
}
.center2{
    font-size: 20px;
}
.center3{
    font-size: 20px;
}

.client-items img {
    height: 100px;
}

#clients-section::before {
    content: "";
    position: absolute;
    background: url('https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80') no-repeat center center/cover;
    width: 100%;
    height: 45%;
    z-index: -1;
    opacity: 0.6;
}

.contact {
    display: flex;
    justify-content: center;
    align-content: center;
}

.name {
    display: flex;
    flex-direction: column;

}

.input {
    border: 2px solid rgb(104, 104, 211);
    width: 265px;
    border-radius: 5px;

}

#contact-section::before {
    content: "";
    position: absolute;
    background: url('https://previews.123rf.com/images/o0matze0o/o0matze0o1805/o0matze0o180500018/101535114-website-and-internet-contact-us-page-concept-with-hanging-icons-in-front-of-a-silver-background.jpg') no-repeat center center/cover;
    width: 100%;
    height: 45%;
    z-index: -1;
    opacity: 0.6;
}

#sub {
    display: block;
    margin: auto;
}

footer {
    margin: 6px 0px;
    background-color: black;
    color: white;
    padding: 1px 2px;
}
